Jinja2==2.7.3
MarkupSafe==0.23
Pint==0.5.2
Pygments==1.6
Sphinx==1.2.2
argparse==1.2.1
astroid==1.2.0
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
docutils==0.12
flake8==2.2.3
ipython==2.2.0
logilab-common==0.62.1
matplotlib==1.3.1
mccabe==0.2.1
nose==1.3.3
numpy==1.8.2
numpydoc==0.5
pep8==1.5.7
psutil==2.1.1
pyflakes==0.8.1
pylint==1.3.0
pyparsing==2.0.2
python-dateutil==2.2
python-qt==0.50
pyzmq==14.3.1
rope==0.10.2
ropemode==0.2
ropevim==0.4
scipy==0.14.0
-e git+https://github.com/noamg/signal_processing.git@38de4099ab65b0732183c144724a0352bcee768a#egg=signal_processing-master
six==1.7.3
spyder==2.3.0
tornado==4.0.1
wsgiref==0.1.2
